nav,
ul {
    display: flex;
    align-items: center;
}

ul {
    gap: 20px;
    list-style-type: none;
}

.active {
    color: red !important;
    text-decoration: underline;
    font-weight: bolder;
}

a {
    color: inherit;
}
